body, html {
  width: 100%;
  height: 100%
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 1.2em;
}

.topnav {
  font-size: 14px;
  background: black;
}

.topnav ul.navbar-nav li a:hover{
  background: rgba(255, 255, 255, 0.4);
}

.topnav .navbar-brand:hover{
  background: rgba(255, 255, 255, 0.4);
}

.home-header {
  padding-top: 50px;
  text-align: center;
  background-image: url('../imgs/home.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100%;
  margin-bottom: 1px;
}

.bg-overlay {
  background-color: rgba(255,255,255,0.05);
  height: 100%;
}

.home-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.home-message > h1 {
  margin-top: -50px;
  text-shadow: 2px 1px 2px #000;
  color: rgba(255,255,255,0.8);
  font-size: 3em;
}

.home-message > h3 {
  font-size: 2em;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  color: navy;
}

hr.home-divider {
  border: 1px outset orange;
  box-shadow: 1px 1px 1px orange;
  width: 100%;
}

.quote {
  padding-top: 5%;
  text-align:left;
}

.quote > q {
  color: ivory;
  text-shadow: 2px 1px 2px #000;
  font-size: 1.5em;
}

div.author {
  text-shadow: 2px 1px 2px #000;
  color:ivory;
  text-align: right;
  font-size: 1.2em;
}

.about {
  background-image: url('../imgs/harbor.jpeg');
  text-align: left;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  margin-bottom: 1px;
}

.bg-overlay2 {
  background: rgba(255, 255, 255, 0.2);
  height: 100%;
}

h2.section-heading {
    margin-top: 60px;
    font-size: 3em;
    color: rgba(255,255,255,0.9);
    text-shadow: 2px 1px 2px #000;
}

p.lead {
  text-shadow: 2px 1px 2px #000;
  color: ivory;
  font-size: 1.2em;
  font-weight: bold;
}

#skillset ul {
    padding-left: 10%;
    color: ivory;
    font-size: 1.2em;
    text-shadow: 2px 1px 2px #000;
}

.skill-header {
  padding-bottom: 15px;
}

.skill-header a {
  color: gold;
  font-size: 1.3em;
  text-shadow: 2px 1px 2px #000;
}

.about .img-circle {
  width: 65%;
  margin-top: 150px;
  border: 1px outset rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.about span.name, span.nickname, span.job {
  color: gold;
}

.projects {
  background-image: url('../imgs/projects.jpeg');
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  margin-bottom: 1px;
}

.bg-overlay3 {
  background: rgba(255, 255, 255, 0.1);
  height: 100%;
}

#below-heading {
  color: rgba(255,255,255,0.9);
}

#small-text {
  color: white;
}

.project-item {
  border: 1px outset rgba(255, 255, 255, 0.6);
  margin: 0 0 15px;
  margin-bottom: 0;
  right: 0;
}

.project-item:hover {
  transition: 0.5s;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.9);
}

.project-link {
  display: block;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.project-desc {
  max-width: 600px;
  background-color: rgba(0,0,0, 0.6);
  text-align: center;
  padding: 20px 0 10px 0px;
}

.project-desc h4 {
  color: #fff;
  text-transform: none;
  margin: 0;
}

.project-desc p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 13px;
  margin: 0;
}

.project-desc i {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  opacity: 0;
  color: burlywood;
  margin-top: 5px;
}

.project-desc i:hover {
  opacity: 1;
}

#portfolio * {
  z-index: 2;
}

.contact {
  background-image: url('../imgs/contact.jpeg');
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.bg-overlay4 {
  background: rgba(255, 255, 255, 0.2);
  height: 100%;
}

.btn {
  display: inline-block;
  color: black;
  border: 1px outset black;
  background: cornsilk;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
  transition: 0.2s;
}

.btn:hover {
  color: #fff;
  border: 1px outset rgba(0, 0, 0, 0.9);
  background: rgba(0,0,0, 0.9);
  transform: scale(1.1);
  transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
}

ul.list-inline {
  padding-top: 10px;
}

@media(max-width: 767px) {
  ul.list-inline > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  
  ul.list-inline > li:last-child {
    margin-bottom: 0;
  }
}
